<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MENU</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <nav>
        <h5>GESTÃO DE CLIENTES</h5>
        <ul>
            <li><a th:href="@{/listarClientes}">Lista de clientes</a></li>
            <li><a th:href="@{/criarCliente}">Cadastrar cliente</a></li>
        </ul>
        <h5>GESTÃO DE VENDAS</h5>
        <ul>
            <li><a th:href="@{/listarVendas}">Lista de vendas</a></li>
            <li><a th:href="@{/criarVenda}">Cadastrar venda</a></li>
        </ul>
        <h5>Relatórios</h5>
        <ul>
            <li><a th:href="@{/exportarCSV}" target="_blank">Baixar Relatório de Vendas</a></li>
        </ul>
    </nav>


</body>

</html>